/* Add styles to all elements */
* {
	margin: 0;
	/* remove default margin from all elements */
	padding: 0;
	/* remove default padding from all elements */
	box-sizing: border-box;
	/* fix width calculation, more info here: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/box-sizing */
}

/* Write your CSS below (feel free to change the styles already here) */
@font-face {
	font-family: "AUTHENTIC Sans";
	src: url("../fonts/authentic-sans-pro-60.woff2");
}

.navbar {
	display: flex;
	gap: 10px;
	border: 1px dotted black;
	padding: 10px;
	border-radius: 10px;
}

.spacer {
	flex-grow: 1;
}

head {
	padding: 10px;

}

body {
	font-family: monospace;
	padding: 50px;
	color: black;

}

.Title {
	padding: 20px;
	max-width: 800px;

}

.Question {
	font-size: 28px;
	margin: 30px;
	max-width: 800px;

}

.Quote {
	font-size: 16px;
	padding: 5px;
	gap: 5px;
	margin: 30px 0;
	background-color: lightgreen;
}

.highlight{
	background-color: lightgoldenrodyellow;
	transition: all .5s;
}

.highlight:hover{
	font-size: 40px;
}

.Heading {
	padding: 10px;
}


.box {
	padding: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 50px;
	max-width: 1200px;
	margin: 0 auto;
	background-color: white;

}

.box-link {
	background-color: none;
	border: 2px solid black;
	color: black;
	text-decoration: none;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-family: sans-serif;
}

.box-link img {
	width: 100%;
}

.box-link h2 {
	font-size: 18px;
}

@media only screen and (max-width: 800px) {
	.box {
		grid-template-columns: 1fr 1fr;
	}
}

@media only screen and (max-width: 600px) {
	.box {
		grid-template-columns: 1fr;
	}
}

.box-link:hover {
	transform: scale(1.1,1.1);
	box-shadow: 8px 8px 0px black;
	transition: all .3s;
}